.container {
  border-radius: 6px;
  background-color: #4e4c4e;
  display: flex;
  box-shadow: 2px 4px 4px #0000009F;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.container:hover {
  background-color: #2a282a;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.containerActive {
  background-color: #2a282a;
}

.containerFinished {
  background-color: #576e46;
}

.container label {
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;
}

.container span {
  font-size: 14px;
  color: #DDDDDD;
}

.deleteCard {
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  position: relative;
  left: 67px;
  bottom: 25px;
  cursor: pointer;
  background-color: #181718;
  border-radius: 50%;
  padding: 1px;
}

.deleteCard:hover {
  color: #FB0808;
}

.check {
  color: #def5c8;
  width: 20px;
  height: 100%;
  position: relative;
  left: 30px;
}