.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--preto);
  height: 88px;
}

.footerContainer h3 {
  color: var(--branco);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}